<ion-view title="detalle" id="page13" class=" ">
    <ion-content padding="false" class="has-header">
        <div class="list card ">
            <ion-item class="item-icon-left  ">
                <i class="icon ion-ios-cart"></i>coffe break para 6 personas</ion-item>
            <form id="consumosDetalle-form5" class="list ">
                <label class="item item-input ">
                    <span class="input-label">fecha</span>
                    <input type="text" placeholder="17-03-16 11:45">
                </label>
                <label class="item item-input " id="consumosDetalle-input9">
                    <span class="input-label">Cantidad</span>
                    <input type="text" placeholder="2">
                </label>
                <label class="item item-input " id="consumosDetalle-input10">
                    <span class="input-label">Precio U.</span>
                    <input type="text" placeholder="$ 100.00">
                </label>
                <label class="item item-input " id="consumosDetalle-input11">
                    <span class="input-label">SubTotal:</span>
                    <input type="text" placeholder="$ 200.00">
                </label>
            </form>
            <div class=" item item-image">
                <img src="img/m7INeCcQRkytWyqBinbg_firma.bmp" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
    </ion-content>
</ion-view>
