<ion-view title="Contacto" hide-nav-bar="true" style="background-color:#000000;" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <form id="contacto-form4" class="list ">
            <h4 id="contacto-heading3" style="color:#FFFFFF;font-weight:400;text-align:center;" class=" ">nosotros</h4>
            <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="contacto-video1" class=" ">
                <iframe src="https://www.youtube.com/embed/RC3L5njocv4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
            </div>
            <h4 id="contacto-heading1" style="color:#FFFFFF;font-weight:300;text-align:center;" class=" ">contacto</h4>
            <ion-list id="contacto-list12" class=" ">
                <label class="item item-input " id="contacto-input3">
                    <span class="input-label">nombre</span>
                    <input type="text" placeholder="" ng-model="model.nombre">
                </label>
                <label class="item item-input " id="contacto-input4">
                    <span class="input-label">correo</span>
                    <input type="text" placeholder="" ng-model="model.correo">
                </label>
                <label class="item item-input " id="contacto-input5">
                    <span class="input-label">teléfono</span>
                    <input type="text" placeholder="" ng-model="model.telefono">
                </label>
            </ion-list>
            <button id="contacto-button16" style="font-weight:300;color:#000000;" class=" button button-stable  button-full " ng-click="Contacto()">que un ejecutivo de ventas me contacte</button>
            <a ui-sref="login" id="contacto-button13" style="font-weight:500;" class=" button button-light  button-full button-outline icon-left ion-arrow-left-c ">regresar</a>
        </form>
    </ion-content>
</ion-view>
