<ion-view title="correspondencia" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-refresher pulling-text="arrastre para actualizar..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list class=" ">
            <ion-item class="item-divider ">sin recoger</ion-item>
            <ion-item class="item-icon-left item-icon-right energized" ng-click="RecogerCorrespondencia(paquete)" ng-repeat="paquete in model.almacen | filter: search">
                <i class="icon ion-ios-box"></i> {{ paquete.material }}
                <span class="item-note"> {{ paquete.tipo + '  ' + paquete.fechaRecibida + ' ' + paquete.horaNotificacion }} </span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
