<link rel="stylesheet" href="css/detail.css">
<ion-view title="detalle" class=" ">
    <ion-content padding="false" class="has-header">
        <div class="list card manual-card-fullwidth ">
            <ion-item class="item-icon-left energized ">
                <i class="icon ion-ios-box"></i> {{ model.paquete.material }} </ion-item>
            <div class="item item-body ">
                <p style="margin-top:0px;color:#000000;" class=" ">
                    {{ model.paquete.tipo }}
                </p>
            </div>
            <div class="spacer" style="width: 320px; height: 5px;"></div>
            <form class="list ">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">entrega</span>
                    <div class="detailText">{{ model.paquete.fechaEntrega + ' ' + model.paquete.horaNotificacion }}</div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">empleado entrega</span>
                    <div class="detailText">{{ model.paquete.empleadoEntrega }}</div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">recibe</span>
                    <div class="detailText">{{ model.paquete.recibe }}</div>
                </label>
               
                <ion-item class="item-divider item-stacked-label">firma</ion-item>
                <div class="">
                    <img src="{{ model.paquete.firma }}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
