.detailText {
    color: #a5a5a5 !important;
    padding-top: 5px;
    font-size: 15px !important;
}

.iconItemLeft {
    font-size: 24px !important;
    margin-right: 10px !important;
}

.marginLeft {
    margin-left: 10px;
}

.sliderAdjust {
    padding-bottom: 18px !important;
    padding-top: 12px !important;
}

.salidaInput {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 18px;
    margin-right: 50px;
    font-size: 18px;
}

.entradaInput {
    font-size: 18px;
}

.fechaInput {
    text-align: right;
}

#title {
    font-size: 22px;
    text-align: center;
}

.subtotallabel {
    width: 65%;
    text-align: right;
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
}

.subtotaltext {
    display: inline-block;
    width: 32%;
    text-align: right;
    font-size: 17px;
    font-weight: 500;
}

.totaltext {
    display: inline-block;
    width: 32%;
    text-align: right;
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
}

.linea {
    border-bottom: 1px solid gray;
    float: right;
    width: 79%;
    margin-top: 4px;
}
