<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>zenttre APP</title>
    <!-- ionic/angularjs js -->
    <script src="lib/bluebird.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic.cloud.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <!--  Mobiscroll  -->
    <!--<script src="node_modules/angular-animate/angular-animate.js"></script>-->
    <script src="mobiscroll/js/mobiscroll.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDgyHAB5XhT_vRiaNrWQHz5DMB9adVyIhc&libraries=places"></script>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="mobiscroll/css/mobiscroll.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">

    <style type="text/css">
    .platform-ios .manual-ios-statusbar-padding {
        padding-top: 20px;
    }
    
    .manual-remove-top-padding {
        padding-top: 0px;
    }
    
    .manual-remove-top-padding .scroll {
        padding-top: 0px !important;
    }
    
    ion-list.manual-list-fullwidth div.list,
    .list.card.manual-card-fullwidth {
        margin-left: -10px;
        margin-right: -10px;
    }
    
    ion-list.manual-list-fullwidth div.list > .item,
    .list.card.manual-card-fullwidth > .item {
        border-radius: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    </style>
    <script src="AngularJS/app.js"></script>
    <script src="AngularJS/routes.js"></script>
    <!--  Detalle de factorías  & servicios  -->
    <script src="AngularJS/services.js"></script>
    <script src="AngularJS/Factories/configurationFactory.js"></script>
    <script src="AngularJS/Factories/alertFactory.js"></script>
    <script src="AngularJS/Factories/dbFactory.js"></script>
    <script src="AngularJS/Factories/sessionFactory.js"></script>
    <script src="AngularJS/Factories/backgroundFactory.js"></script>
    <!--    DBO Objects-->
    <script src="AngularJS/DBO/session.js"></script>
    <script src="AngularJS/DBO/client.js"></script>
    <!--  Detalle de directivas  -->
    <script src="AngularJS/Directives/directives.js"></script>
    <!--  Detalle de controladores  -->
    <script src="AngularJS/Controllers/controllers.js"></script>
    <script src="AngularJS/Controllers/Billing/billingRepository.js"></script>
    <script src="AngularJS/Controllers/Billing/billingController.js"></script>
    <script src="AngularJS/Controllers/Consume/consumeRepository.js"></script>
    <script src="AngularJS/Controllers/History/historyController.js"></script>
    <script src="AngularJS/Controllers/Messaging/messsagingRepository.js"></script>
    <script src="AngularJS/Controllers/Messaging/messagingDetailController.js"></script>
    <script src="AngularJS/Controllers/Messaging/messagingController.js"></script>
    <script src="AngularJS/Controllers/Messaging/messagingHistoryController.js"></script>
    <script src="AngularJS/Controllers/Shipment/shipmentRepository.js"></script>
    <script src="AngularJS/Controllers/Shipment/shipmentDetailController.js"></script>
    <script src="AngularJS/Controllers/Shipment/shipmentHistoryController.js"></script>
    <script src="AngularJS/Controllers/Shipment/shipmentController.js"></script>
    <script src="AngularJS/Controllers/Mail/mailRepository.js"></script>
    <script src="AngularJS/Controllers/Mail/mailDetailController.js"></script>
    <script src="AngularJS/Controllers/Mail/mailController.js"></script>
    <script src="AngularJS/Controllers/Client/clientRepository.js"></script>
    <script src="AngularJS/Controllers/Client/clientController.js"></script>
    <script src="AngularJS/Controllers/Login/loginRepository.js"></script>
    <script src="AngularJS/Controllers/Login/loginController.js"></script>
    <script src="AngularJS/Controllers/Reservation/reservationRepository.js"></script>
    <script src="AngularJS/Controllers/Reservation/reservationController.js"></script>
    <script src="AngularJS/Controllers/Reservation/reservationNewController.js"></script>
    <script src="AngularJS/Controllers/Reservation/reservationActionController.js"></script>
    <script src="AngularJS/Controllers/Reservation/reservationHistoryController.js"></script>
    <script src="AngularJS/Controllers/Menu/menuRepository.js"></script>
    <script src="AngularJS/Controllers/Menu/menuController.js"></script>
    <script src="AngularJS/Controllers/Shipment/mapController.js"></script>
    <script src="AngularJS/Entity/Salas.js"></script>
    <script src="AngularJS/Entity/Consumos.js"></script>
    <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
</head>

<body ng-app="app" animation="slide-left-right-ios7">
    <div>
        <ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21" ng-controller="menuController">
            <ion-side-menu-content>
                <ion-nav-bar class="bar-energized">
                    <ion-nav-back-button></ion-nav-back-button>
                    <ion-nav-buttons side="left">
                        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                    </ion-nav-buttons>
                </ion-nav-bar>
                <ion-nav-view></ion-nav-view>
            </ion-side-menu-content>
            <ion-side-menu side="left" style="background-color:#26ADE4;">
                <ion-header-bar class="bar-energized">
                    <div class="title">menú</div>
                </ion-header-bar>
                <ion-content padding="false" class="side-menu-left has-header backGray">
                    <ion-list id="men-list1" class=" Royal" data-componentid="list1">
                        <ion-item class="item-icon-left themeGray  " id="men-list-item1" menu-close="" data-componentid="list-item1" ng-click="Inicio()">
                            <i class="icon ion-android-home"></i>inicio</ion-item>
                        <ion-item class="item-icon-left themeGray  " id="men-list-item2" ng-click="Consultas()" menu-close="" data-componentid="list-item2">
                            <i class="icon ion-ios-time"></i>consultas</ion-item>
                        <ion-item class="item-icon-left themeGray  " id="men-list-item4" ng-click="Facturacion()" menu-close="" data-componentid="list-item4">
                            <i class="icon ion-stats-bars"></i>facturación</ion-item>
                        <ion-item class="item-icon-left themeGray" id="men-list-item5" ng-click="MiCuenta()" menu-close="" data-componentid="list-item5">
                            <i class="icon ion-person"></i>mi cuenta</ion-item>
                    </ion-list>
                </ion-content>
            </ion-side-menu>
        </ion-side-menus>
    </div>

</body>

</html>
