.bar-header {
	background-color: rgb(104, 104, 104) !important;
}

.themeGray{
	color: rgb(104, 104, 104) !important;
}

.tabs{
	background-color: rgb(104, 104, 104) !important;
}

.backGray{
	background-color: rgb(104, 104, 104) !important;
}